<div th:fragment="IndexSlide" class="container">
	<div class="row">
		<div id="birdScan" class="carousel slide mainPage"
			data-ride="carousel" data-interval="2000">
			<ol class="carousel-indicators">
				<li data-target="#birdScan" data-slide-to="0" class="active"></li>
				<li data-target="#birdScan" data-slide-to="1"></li>
				<li data-target="#birdScan" data-slide-to="2"></li>
				<li data-target="#birdScan" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner">
				<div
					th:class="${slideStat.index} == 0 ? 'carousel-item active' : 'carousel-item'"
					th:each="slide, slideStat: ${nav.data}">
					<img class="d-block w-100"
						th:src="@{~/} + ${slide.src.replace('\', '/')}"
						th:alt="${slide.alt}">
				</div>
			</div>
			<a class="carousel-control-prev" href="#birdScan" role="button"
				data-slide="prev"> <span class="carousel-control-prev-icon"
				aria-hidden="true"></span> <span class="sr-only">上一张</span>
			</a> <a class="carousel-control-next" href="#birdScan" role="button"
				data-slide="next"> <span class="carousel-control-next-icon"
				aria-hidden="true"></span> <span class="sr-only">下一张</span>
			</a>
		</div>
	</div>
</div>


<div th:fragment="CompanyIconSlide" class="container-fluid"
	style="height: 200px;">
	<div class="col-2"></div>
	<div class="col-10 w-100 companyIconScroll d-flex align-items-center justify-content-end" id="companyIconList" style="height:100%;">
		<a class="company-link" th:each="logo:${nav.logos}" th:href="@{/company/{buildingName}/{id}/get(id=${logo.id}, buildingName=${nav.buildingName})}">
			<img th:src="${logo.logoSrc.replace('\', '/')}">
		</a>
	</div>
</div>