<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<title>西部创业园区</title>
<link th:href="@{~/css/admin.css}" rel="stylesheet" media="screen"
	type="text/css"></link>
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"></link>
<script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body>
	<form class="form-signin" th:action="@{/login}" method="post">
		<img class="mb-4" th:src="@{~/image/login.png}"
			style="width: 100px; height: 100px; margin-left: 90px;"> <input
			type="text" name="username" class="form-control" placeholder="账号"
			required autofocus> <input type="password" name="password"
				class="form-control" placeholder="密码" required> <label
					th:value="${message}"></label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
					<p class="mt-5 mb-3 text-muted">Copyright © 西部创业园区 版权所有</p>
	</form>
</body>
</html>