<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<div th:fragment="Slide" style="height: 550px;">

	<nav class="navbar navbar-expand-lg navbar-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<button class="btn btn-outline-danger my-2 my-sm-0" type="submit" onclick="deletePic()">删除图片</button>
		&nbsp;&nbsp;
		<button class="btn btn-outline-success my-2 my-sm-0" type="button"
			data-toggle="modal" data-target="#uploadPicModal">上传图片</button>
	</div>
	</nav>

	<table class="table table-hover text-center" style="margin-bottom:100px;">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">名称</th>
				<th scope="col">标签</th>
				<th scope="col">宽度</th>
				<th scope="col">高度</th>
				<th scope="col">大小</th>
				<th scope="col">上传日期</th>
				<th scope="col">写字楼简称</th>
				<th scope="col">图片详情</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="slide : ${data.data}">
				<th>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="slideCheck" th:value="${slide.id}">
						</input>
					</div>
				</th>
				<td th:text="${slide.name}"></td>
				<td th:text="${slide.alt}"></td>
				<td th:text="${slide.width}"></td>
				<td th:text="${slide.height}"></td>
				<td th:text="${slide.fileSize}"></td>
				<td th:text="${#calendars.format(slide.uploadDate,'yyyy-MM-dd hh:mm:ss')}"></td>
				<td th:text="${slide.buildingId} == 1 ? 'az' : (${slide.buildingId} == 2 ? 'bz' : 'cz')"></td>
				<td>
					<a th:href="@{~/} + ${slide.src.replace('\', '/')}" class="badge badge-light">查看图片</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade" id="uploadPicModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">添加图片</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" th:action="@{/slide/add}" th:object="${uploadSlideInput}" method="post" id="uploadSlideInput" enctype="multipart/form-data">
						<div class="form-group row">
							<label for="src" class="col-sm-2 col-form-label">选择图片</label>
							<div class="col-sm-10">
								<input type="file" class="form-control-file" id="src" th:field="*{imgs}" required></input>
							</div>
						</div>
						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label">名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="name"  th:field="*{name}" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="alt" class="col-sm-2 col-form-label">标签</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="alt" th:field="*{alt}" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="buildingId" class="col-sm-2 col-form-label">写字楼ID</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="buildingId"
									placeholder="A座ID：1，B座ID：2，C座ID：3" th:field="*{buildingId}" required>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">取消</button>
					<a href="#" type="button" class="btn btn-primary" onclick="javascript:$('#uploadSlideInput').submit()">上传</a>
				</div>
			</div>
		</div>
	</div>
</div>
</head>
</html>